body {
  background-image: url("../img/paper-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.submit-field {
  width: 25%;
}

.fa-check-square {
  color: green;
}

.fa-times-circle {
  color: red;
}

.fa-pencil-alt {
  color: rgb(247, 185, 26);
}
